<!-- Navbar -->
<app-navbar
  *ngIf="isLoggedIn()"
  [currentPage]="currentPage"
  (navigateRequest)="onNavigate($event)"
  (createChallengeRequest)="openForm()">
</app-navbar>

<!-- Pagini -->
<main
  [class.pt-20]="isLoggedIn()"
  [class.h-screen]="!isLoggedIn()"
  [class.flex]="!isLoggedIn()"
  [class.items-center]="!isLoggedIn()"
  [class.justify-center]="!isLoggedIn()">

  <router-outlet (activate)="onActivate($event)"></router-outlet>

</main>

<!-- Formular Create Challenge (Global) -->
<app-challenge-form
  *ngIf="isFormVisible"
  (cancel)="closeForm()"
  (submitChallenge)="handleSubmit($event)">
</app-challenge-form>

<!-- Toast Global pentru mesaje -->
<app-toast
  *ngIf="toastVisible"
  [message]="toastMessage"
  [type]="toastType">
</app-toast>
