@if (showNavbar) {
<app-navbar
  (createChallengeRequest)="openForm()"
  (toastRequest)="showToast($event.message, $event.type)">
</app-navbar>
}
<main class="min-h-screen bg-[#0f0e13] text-white"
      [class.pt-24]="showNavbar"
      [class.p-8]="showNavbar"
      [class.flex]="!showNavbar"
      [class.items-center]="!showNavbar"
      [class.justify-center]="!showNavbar">

  <router-outlet (activate)="onActivate($event)"></router-outlet>
</main>

<app-challenge-form
  *ngIf="isFormVisible"
  (cancel)="closeForm()"
  (submitChallenge)="handleSubmit($event)">
</app-challenge-form>

<app-toast
  *ngIf="toastVisible"
  [message]="toastMessage"
  [type]="toastType">
</app-toast>
