nav {
  position: fixed; /* fix pe ecran */
  top: 0;
  left: 0;
  right: 0;
  z-index: 50; /* să fie deasupra altor elemente */
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  background-color: rgba(20,18,27,0.9); /* semi-transparent pentru blur */
}
main {
  padding-top: 80px; /* să nu fie ascuns conținutul de navbar */
}

.gradient-text {
  background: linear-gradient(90deg, #9333ea 0%, #3b82f6 100%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent; /* doar pentru textul cu gradient */
}

button {
  transition: all 0.2s ease;
  cursor: pointer;
}

.gradient-text-button {
  background: linear-gradient(135deg, #a78bfa 0%, #3b82f6 100%);
  border: none;
  color: white;
  font-weight: 600;
  transition: all 0.3s ease;
}

.gradient-text-button:hover {
  transform: scale(1.05);
  filter: brightness(1.2);
}

.text-gray-400 {
  color: #ccc; /* vizibil pe fundalul navbar */
}
.text-white {
  color: #fff;
  font-weight: bold;
}

